	
  <div class="add-point">
    <h1>voeg een punt toe {{isStarted}}</h1>


    <div>
      <button id="stop" class="btn-round" ng-show="isStarted" ng-click="stopWebcam()">&times;</button>
      <button id="start" class="btn-round" ng-show="isSupported()" ng-click="startWebcam()">&radic;</button>
      <button id="picture" class="btn-round" ng-click="takePicture()">&Oslash;</button>
      <video id="video" class="video" autoplay ng-show="isStarted" ></video>
      <img id="image" ng-src="{{picture}}" >

    </div>
  </div>