
.navbar{
  background: $orange-transparent;
  border-bottom: 2px dotted $orange-dark;
  box-shadow: 0 0 10px $orange-transparent;
  color: $white;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#map{
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}

.btn-add{
  background-color: $orange-dark;
  border: 1px solid $orange;
  border-radius: 50%;
  bottom: .2rem;
  color: $white;
  font-size: 1.6em;
  height: 1.5em;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 1.5em;
  z-index: 3;
}